@model WebService.UI.WebUI.Models.Product.GetAllProductViewModel

@{ 
    ViewBag.Title = "Gallery";
    ViewBag.Gallery = "active";
    
}

<partial name="_HeaderLastLink" />

<section class="row m-5 p-5">
    <div class="container">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-12">
                <main class="col-lg-7 col-xl-8">
                    <div class="vertical-item">
                        <div class="item-media">
                            <div class="owl-carousel" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-nav="false" data-dots="true">
                                @foreach (var image in item.Images)
                                {
                                    <a href=@Url.Content(image.Path+image.Name) class="photoswipe-link" data-width="1170" data-height="780">
                                        <img src=@Url.Content(image.Path+image.Name) alt="">
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="item-content">
                            <p>
                               @item.Description
                            </p>

                        </div>
                    </div>
                    <div class="d-none d-xl-block">
                        <div class="row c-gutter-20">
                            <div class="social-icon col-3">
                                <a href="#" class="fa fa-whatsapp  color-bg-icon bg-success" title="whatsapp"></a>
                            </div>
                            <div class="social-icon col-3">
                                <a href="https://t.me/GetPepper" class="fa fa-telegram  color-bg-icon bg-primary" title="telegram"></a>
                            </div>
                            <div class="social-icon col-3">
                                <a href="https://www.instagram.com/Getpepperr" class="fa fa-instagram  color-bg-icon" title="instagram"></a>
                            </div>
                            <div class="social-icon col-3">
                                <a href="https://www.youtube.com/channel/UCqE5IUTbSpxb-rptlmUhlqw" class="fa fa-youtube-play  color-bg-icon" title="youtube-play"></a>
                            </div>
                        </div>
                    </div>
                </main>

                <aside class="col-lg-5 col-xl-4">
                    <div class="widget widget_project_info">
                        <h6>Project Info</h6>
                        <table class="table border-bottom">
                            <tbody>
                                <tr>
                                    <td>Date:</td>
                                    <td>@item.StartDate.ToString("MMMM, yyyy")</td>
                                </tr>
                                <tr>
                                    <td>End Date:</td>
                                    <td>@item.EndDate.ToString("MMMM, yyyy")</td>
                                </tr>
                                <tr>
                                    <td>Customer:</td>
                                    <td>@string.Join(",",item.Customer)</td>
                                </tr>
                                <tr>
                                    <td>Site:</td>
                                    <td><a href="@item.SiteUrl">@item.SiteName</a></td>
                                </tr>
                                <tr>
                                    <td>Category:</td>
                                    <td>@string.Join(",",item.Category)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget_service">
                        <h6>Services</h6>
                        <ul class="list1">
                            @foreach (var service in item.Services)
                            {
                                <li>
                                    @service
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="widget widget_tags">
                        <h6>Tags</h6>
                        <div class="tags-button small-text">
                            @foreach (var tag in item.Tags)
                            {
                                <a class="ls ms" href="#">@tag</a>
                            }

                        </div>
                    </div>
                </aside>
            </div>
        }

    </div>
</section>

<partial name="_Pagination" model="@Model" />